<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>账号管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-account-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">新增</button>
            </div>
            <!--表格-->
            <table id="LAY-account-manage" lay-filter="LAY-account-manage"></table>

            <!--密码控件-->
            <script type="text/html" id="table-password-operate">
                {{# if('' == ''){}}
                <input type="password" readonly value="{{d.password}}" id="password">
                <input type="button" value="显示" onclick="switchPassword()" id="passwordBtn">
                {{# }}}
            </script>

            <!--仅照片显示预览按钮，共用按钮:下载、删除-->
            <script type="text/html" id="table-account-operate">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="link"><i class="layui-icon layui-icon-link"></i>链接</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script th:src="@{/frame/layui/layui.js}"></script>
<script th:src="@{/frame/js/account.js}"></script>
<script>
    layui.config({
        base: '/frame/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'useradmin', 'table'], function(){
        const $ = layui.$
            , form = layui.form
            , table = layui.table;

        //监听搜索
        form.on('submit(LAY-account-search)', function(data){
            const field = data.field;

            //执行重载
            table.reload('LAY-account-manage', {
                where: field
            });
        });

        //事件
        const active = {
            batchdel: function () {
                const checkStatus = table.checkStatus('LAY-account-manage')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.confirm('确定删除吗？', function (index) {
                    //批量
                    for(let i = 0; i< checkData.length; i++){
                        deleteAccount(checkData[i].fileId);
                    }
                    //表格删除
                    layer.close(index);
                    table.reload('LAY-account-manage');
                    layer.msg('已删除');
                });
            }
            , add: function () {
                layer.open({
                    type: 2
                    , title: '新增账号'
                    , content: 'accountForm'
                    , area: ['500px', '500px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        const data = $(layero).find('iframe')[0].contentWindow.callBackData();

                        //ajax请求
                        $.ajax({
                            url: '/note/account/add',
                            data: data,
                            dataType: 'json',//数据类型
                            type: 'GET',//类型
                            timeout: 3000,//超时
                            //请求成功
                            success: function (res) {
                                if (res.code === "0000") {
                                    //成功
                                    layer.msg("新增成功");
                                } else {
                                    layer.msg("新增失败：失败原因：" + res.msg);
                                }
                            },
                            //失败/超时
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                if (textStatus === 'timeout') {
                                    layer.msg('网络异常');
                                }
                                layer.msg("失败原因：" + errorThrown);
                            }
                        })

                        table.reload('LAY-account-search'); //数据刷新
                        layer.close(index); //关闭弹层

                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            const type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //formType： 0（文本）默认1（密码）2（多行文本）
        // layer.prompt({formType: 1,title: "请输入密码"}, function (val, index) {
        //     if (val === "xxx") {
        //         layer.msg("密码正确")
        //     }else{
        //         layer.msg("密码错误")
        //     }
        // });

        function deleteAccount(id){
            //删除文件数据
            $.ajax({
                url: '/note/file/delete',
                data: {"id": id, "userNo": window.localStorage["loginNo"]},
                dataType: 'json',//数据类型
                type: 'GET',//类型
                timeout: 3000,//超时
                //请求成功
                success: function (res) {
                    if (res.code !== "0000") {
                        //成功
                        layer.msg("删除失败：失败账号id："+ id);
                    }
                },
                //失败/超时
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (textStatus === 'timeout') {
                        layer.msg('网络异常');
                    }
                    layer.msg("失败原因：" + errorThrown);
                }
            });
        }
    });

    //密码显示与隐藏
    let a = true;
    function switchPassword(){
        const btn = document.getElementById("passwordBtn");
        const password = document.getElementById("password");
        if(a){
            password.type = 'text';
            a = false;
            btn.value = '隐藏';
        }else{
            password.type = 'password';
            a = true;
            btn.value = '显示';
        }
    }
</script>
</body>
</html>