<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>  <title>账号管理</title>

  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <!--操作栏-->
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
              <input type="text" name="address" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
              <input type="text" name="account" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-role" data-type="add">添加</button>
        </div>

        <table class="layui-hide" id="test-table-totalRow" lay-filter="test-table-totalRow"></table>

        <script type="text/html" id="test-table-totalRow-toolbarDemo">
          <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
          </div>
        </script>

        <!--表格数据-->
<!--        <table id="LAY-user-back-role" lay-filter="LAY-user-back-role"></table>-->
<!--        <script type="text/html" id="table-useradmin-admin">-->
<!--        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>-->
<!--        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>-->
<!--        </script>-->
      </div>
    </div>
  </div>

 <script th:src="@{/frame/layui/layui.js}"></script>
  <script>
    layui.config({
      base: '../../frame/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function(){
      var admin = layui.admin
              ,table = layui.table;

      table.render({
        elem: '#test-table-totalRow'
        ,url: layui.setter.base + '/json/table/demo.js'
        ,toolbar: '#test-table-totalRow-toolbarDemo'
        ,title: '用户数据表'
        ,totalRow: true
        ,cols: [[
          {type: 'checkbox', fixed: 'left'}
          ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
          ,{field:'username', title:'用户名', width:120, edit: 'text'}
          ,{field:'experience', title:'积分', width:120, sort: true, totalRow: true}
          ,{field:'sex', title:'性别', width:80, edit: 'text', sort: true}
          ,{field:'logins', title:'登入次数', width:100, sort: true, totalRow: true}
          ,{field:'sign', title:'签名'}
        ]]
        ,page: true
      });

      //头工具栏事件
      table.on('toolbar(test-table-totalRow)', function(obj){
        var checkStatus = table.checkStatus(obj.config.id);
        switch(obj.event){
          case 'getCheckData':
            var data = checkStatus.data;
            layer.alert(JSON.stringify(data));
            break;
          case 'getCheckLength':
            var data = checkStatus.data;
            layer.msg('选中了：'+ data.length + ' 个');
            break;
          case 'isAll':
            layer.msg(checkStatus.isAll ? '全选': '未全选');
            break;
        };
      });

    });
  </script>



<!--  <script>-->
<!--  layui.config({-->
<!--    base: '../../frame/' //静态资源所在路径-->
<!--  }).extend({-->
<!--    index: 'lib/index' //主入口模块-->
<!--  }).use(['index', 'useradmin', 'table'], function(){-->
<!--    var $ = layui.$-->
<!--    ,form = layui.form-->
<!--    ,table = layui.table;-->
<!--    -->
<!--    //搜索角色-->
<!--    form.on('select(LAY-user-adminrole-type)', function(data){-->
<!--      //执行重载-->
<!--      table.reload('LAY-user-back-role', {-->
<!--        where: {-->
<!--          role: data.value-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--  -->
<!--    //事件-->
<!--    var active = {-->
<!--      batchdel: function(){-->
<!--        var checkStatus = table.checkStatus('LAY-user-back-role')-->
<!--        ,checkData = checkStatus.data; //得到选中的数据-->

<!--        if(checkData.length === 0){-->
<!--          return layer.msg('请选择数据');-->
<!--        }-->
<!--        -->
<!--        layer.confirm('确定删除吗？', function(index) {-->
<!--            -->
<!--          //执行 Ajax 后重载-->
<!--          /*-->
<!--          admin.req({-->
<!--            url: 'xxx'-->
<!--            //,……-->
<!--          });-->
<!--          */-->
<!--          table.reload('LAY-user-back-role');-->
<!--          layer.msg('已删除');-->
<!--        });-->
<!--      },-->
<!--      add: function(){-->
<!--        layer.open({-->
<!--          type: 2-->
<!--          ,title: '添加/更新账号信息'-->
<!--          ,content: '/note/updateOrAddAccount'-->
<!--          ,area: ['500px', '480px']-->
<!--          ,btn: ['确定', '取消']-->
<!--          ,yes: function(index, layero){-->
<!--            var iframeWindow = window['layui-layer-iframe'+ index]-->
<!--            ,submit = layero.find('iframe').contents().find("#LAY-user-role-submit");-->

<!--            //监听提交-->
<!--            iframeWindow.layui.form.on('submit(LAY-user-role-submit)', function(data){-->
<!--              var field = data.field; //获取提交的字段-->
<!--              -->
<!--              //提交 Ajax 成功后，静态更新表格中的数据-->
<!--              //$.ajax({});              -->
<!--              table.reload('LAY-user-back-role');-->
<!--              layer.close(index); //关闭弹层-->
<!--            });  -->
<!--            -->
<!--            submit.trigger('click');-->
<!--          }-->
<!--        }); -->
<!--      }-->
<!--    }  -->
<!--    $('.layui-btn.layuiadmin-btn-role').on('click', function(){-->
<!--      var type = $(this).data('type');-->
<!--      active[type] ? active[type].call(this) : '';-->
<!--    });-->
<!--  });-->
<!--  </script>-->

  <!--表格操作-->
<!--  <script>-->
<!--    layui.use('table', function(){-->
<!--      var table = layui.table;-->
<!--      //第一个实例-->
<!--      table.render({-->
<!--        elem: '#LAY-user-back-role'-->
<!--        ,height: 312-->
<!--        ,url: ''-->
<!--        ,page: true-->
<!--        ,cols: [[-->
<!--          {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}-->
<!--          ,{field: 'address', title: '地址', width:200}-->
<!--          ,{field: 'account', title: '账号', width:80}-->
<!--          ,{field: 'password', title: '密码', width:80}-->
<!--          ,{field: 'createdTime', title: '创建时间', width:120, sort: true}-->
<!--          ,{field: 'updatedTime', title: '更新时间', width:120, sort: true}-->
<!--        ]]-->
<!--      });-->
<!--    });-->
<!--  </script>-->
</body>
</html>