<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>MIX控制台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<script th:src="@{/frame/layui/layui.js}"></script>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-row layui-col-space15">
          <!--快捷访问-->
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">快捷访问</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="/note/notemanage/page">
                          <i class="layui-icon layui-icon-upload-drag"></i>
                          <cite>笔记</cite>
                        </a>
                      </li>

                      <li class="layui-col-xs3">
                        <a lay-href="/note/file/list">
                          <i class="layui-icon layui-icon-file"></i>
                          <cite>文件</cite>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--待办事项-->
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">待办事项</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a lay-href="" class="layadmin-backlog-body">
                          <h3>待审管理申请</h3>
                          <p><cite>10</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>12</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>8</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>20</cite></p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--数据概览-->
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                     lay-filter="LAY-index-dataview">
                  <div carousel-item id="LAY-index-dataview">
                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--广告栏位-->
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">相关链接</div>
          <div class="layui-card-body layui-text">
            <div class="layui-carousel" id="advertisement">
              <div carousel-item>
                <div><img src="/file/showPic/海浪.gif" alt="pic1" width="100%" height="185px"></div>
                <div><img src="/file/showPic/海洋.gif" alt="pic2" width="100%" height="185px"></div>
                <div><img src="/file/showPic/潜泳.png" alt="pic3" width="100%" height="185px"></div>
                <div><img src="/file/showPic/沙漠.png" alt="pic4" width="100%" height="185px"></div>
                <div><img src="/file/showPic/徒步.png" alt="pic5" width="100%" height="185px"></div>
              </div>
            </div>
          </div>
        </div>

        <!--实时监控-->
        <div class="layui-card">
          <div class="layui-card-header">系统资源实时监控</div>
          <div class="layui-card-body layadmin-takerates">
            <div class="layui-progress" lay-showPercent="yes">
              <h3>CPU使用率</h3>
                <div id="cpu" class="layui-progress-bar" lay-percent="0%"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes">
              <h3>内存占用率</h3>
              <div id="memory" class="layui-progress-bar" lay-percent="0%"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes">
              <h3>磁盘使用率</h3>
              <div id="disk" class="layui-progress-bar" lay-percent="0%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/frame/layui/layui.js}"></script>
  <script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
  <script>
  layui.config({
    base: '../frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console', 'util']);
  </script>
  <script>
    //定时器，5秒触发一次
    //setInterval('reloadView()',5000);
    //window.reloadView=function(){};
    //$("#system").load(location.href + " #system");
    window.onload=function(){
      //请求系统信息查询
      $.ajax({
        url: '/home/console/systemInfo',
        dataType: 'json',//数据类型
        type: 'GET',//类型
        timeout: 3000,//超时时间
        //请求成功
        success: function (res) {
          if (res.code === "0000") {
            const $ = layui.jquery;
            //设置系统资源使用情况, 超过预警值，使用率进度条标红
            //CPU
            const cpuPercent = res.data.CPU;
            if(cpuPercent > 90){
              $("#cpu").addClass("layui-bg-red");
            }
            $("#cpu").attr("lay-percent", cpuPercent + "%");
            //内存
            const memoryPercent = res.data.MEMORY;
            if(memoryPercent > 85){
              $("#memory").addClass("layui-bg-red");
            }
            $("#memory").attr("lay-percent", memoryPercent + "%");
            //磁盘
            const diskPercent = res.data.DISK;
            if(diskPercent > 90){
              $("#disk").addClass("layui-bg-red");
            }
            $("#disk").attr("lay-percent", diskPercent + "%");
          } else {
            layer.open({
              title: '提示信息'
              , content: '系统信息查询失败，失败原因：' + res.msg
            });
          }
        },
        //失败/超时
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          if (textStatus === 'timeout') {
            layer.msg('网络异常');
          }
          layer.msg("失败原因：" + errorThrown);
        }
      });
    };

    layui.use('carousel', function(){
      const carousel = layui.carousel;
      //建造实例
      carousel.render({
        elem: '#advertisement'
        ,width: '100%'   //设置容器宽度
        ,height: '185px' //设置容器高度
        ,arrow: 'always' //始终显示箭头
      });
    });
  </script>
</body>
</html>

