<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>MIX控制台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<script th:src="@{/frame/layui/layui.js}"></script>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-row layui-col-space15">
          <!--快捷访问-->
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">快捷访问</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a lay-href="/note/notemanage/page">
                          <i class="layui-icon layui-icon-upload-drag"></i>
                          <cite>笔记</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a layadmin-event="im">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>聊天</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="app/workorder/list.html">
                          <i class="layui-icon layui-icon-survey"></i>
                          <cite>工单</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="user/list">
                          <i class="layui-icon layui-icon-user"></i>
                          <cite>信息</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a lay-href="set/system/website.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>设置</cite>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--待办事项-->
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">预留功能块</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a lay-href="app/content/comment.html" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>10</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>12</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>8</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                          <h3>待审</h3>
                          <p><cite>20</cite></p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--数据概览-->
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body">
                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                  <div carousel-item id="LAY-index-dataview">
                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--广告栏位-->
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">相关连接</div>
          <div class="layui-card-body layui-text">
            <div class="layui-carousel" id="advertisement">
              <div carousel-item>
                <div><img src="/file/showPic/u=3586665107,1637339745&fm=26&gp=0.jpg" alt="adv1" width="100%" height="185px"></div>
                <div><img src="http://www.baidu.com/img/logo.gif" alt="adv2"></div>
                <div><img src="/file/showPic/8375e8165c023df69a78d.jpg" alt="adv3" width="100%" height="185px"></div>
                <div><img src="/file/showPic/fe6cb8126ee84bcda5214fcd9d26d5b4.jpg" alt="adv4" width="100%" height="185px"></div>
                <div><img src="/file/showPic/u=2569203454,571374109&fm=26&gp=0.jpg" alt="adv5" width="100%" height="185px"></div>
              </div>
            </div>
          </div>
        </div>

        <!--实时监控-->
        <div class="layui-card">
          <div class="layui-card-header">服务器实时监控</div>
          <div class="layui-card-body layadmin-takerates">
            <div class="layui-progress" lay-showPercent="yes">
              <h3>CPU使用率</h3>
                <div id="cpu" class="layui-progress-bar" lay-percent="0%"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes">
              <h3>内存占用率</h3>
              <div id="memory" class="layui-progress-bar" lay-percent="0%"></div>
            </div>
            <div class="layui-progress" lay-showPercent="yes">
              <h3>磁盘使用率</h3>
              <div id="disk" class="layui-progress-bar" lay-percent="0%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/frame/layui/layui.js}"></script>
  <script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
  <script>
  layui.config({
    base: '../../frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console', 'util']);
  </script>
  <script>
    window.onload=function(){
      //请求系统信息查询
      $.ajax({
        url: '/home/console/systemInfo',
        dataType: 'json',//数据类型
        type: 'GET',//类型
        timeout: 3000,//超时时间
        //请求成功
        success: function (res) {
          if (res.code === "0000") {
            const $ = layui.jquery;
            //设置系统资源使用情况, 超过预警值，使用率进度条标红
            //CPU
            const cpuPercent = "~";//res.data.CPU; TODO CPU使用率计算时间过长，暂不展示
            const cpuDiv = document.getElementById("cpu");
            if(cpuPercent > 75){
              const bgRed = document.createElement("layui-bg-red");
              cpuDiv.appendChild(bgRed);
            }
            $("#cpu").attr("lay-percent", cpuPercent + "%");
            //内存
            const memoryPercent = res.data.MEMORY;
            const memoryDiv = document.getElementById("memory");
            if(memoryPercent > 20){
              const bgRed = document.createElement("layui-bg-red");
              memoryDiv.appendChild(bgRed);
            }
            $("#memory").attr("lay-percent", memoryPercent + "%");
            //磁盘
            const diskPercent = res.data.DISK;
            const diskDiv = document.getElementById("disk");
            if(diskPercent > 75){
              const bgRed = document.createElement("layui-bg-red");
              diskDiv.appendChild(bgRed);
            }
            $("#disk").attr("lay-percent", diskPercent + "%");

          } else {
            layer.open({
              title: '提示信息'
              , content: '系统信息查询失败，失败原因：' + res.msg
            });
          }
        },
        //失败/超时
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          if (textStatus === 'timeout') {
            layer.msg('网络异常');
          }
          layer.msg("失败原因：" + errorThrown);
        }
      });
    };

    layui.use('carousel', function(){
      var carousel = layui.carousel;
      //建造实例
      carousel.render({
        elem: '#advertisement'
        ,width: '100%'   //设置容器宽度
        ,height: '185px' //设置容器高度
        ,arrow: 'always' //始终显示箭头
      });
    });
  </script>
</body>
</html>

