<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>申请成为管理员</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">申请成为管理员</div>
          <div class="layui-card-body" pad15>

            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">申请理由</label>
                <div id="reason" class="layui-input-inline">
                  <input type="radio" name="apReason" value="1" title="因为可爱">
                  <input type="radio" name="apReason" value="2" title="管理员家亲戚">
                  <input type="radio" name="apReason" value="3" title="替超级管理员分忧">
                  <input type="radio" name="apReason" value="4" title="因为性别女, 爱好男">
                </div>

                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">理由</label>
                  <div class="layui-input-block">
                    <textarea id="remarks" name="remarks" placeholder="" class="layui-textarea"></textarea>
                  </div>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="applyAdminCommit" onclick="commit()">提交申请</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/frame/layui/layui.js}"></script>
  <script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
  <script>
  layui.config({
    base: '../frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set']);
  </script>

  <script>
    $('#reason').click(function () {
      alert("您是..." + $(this).checked.value);
    });

    //提交事件
    function commit(){
       layui.alert("管理员数量已达上线");
    }

  </script>
</body>
</html>