<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>设置我的资料</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">设置我的资料</div>
          <div class="layui-card-body" pad15>
            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">我的角色</label>
                <div class="layui-input-inline">
                  <select name="role" lay-verify="">
                    <option value="COMMON_USER" selected>普通用户</option>
                    <option value="COMMON_MEMBER" disabled>普通会员</option>
<!--                    <option value="SILVER_VIP" disabled>白银会员</option>-->
<!--                    <option value="GOLD_VIP" disabled>黄金会员</option>-->
<!--                    <option value="PLATINUM_VIP" disabled>白金会员</option>-->
                  </select> 
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" readonly class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="nickname" name="nickname" lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                  <input type="radio" name="sex" value="MALE" title="男" checked>
                  <input type="radio" name="sex" value="FEMALE" title="女">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">修改头像</label>
                <div class="layui-input-inline">
                  <input name="avatar" id="LAY_avatarSrc" placeholder="图片地址" readonly  class="layui-input">
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                  <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
                  <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >
                </div>
             </div>
              <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="email" name="email" value="" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                  <textarea id="remarks" name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/frame/layui/layui.js}"></script>
  <script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
  <script>
  layui.config({
    base: '../../frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set']);
  </script>
  <!--查询用户信息-->
  <script>
    window.onload=function(){
      $.ajax({
        url: '/set/user/info',
        data: {"userNo": window.localStorage["loginNo"]},
        dataType: 'json',//数据类型
        type: 'GET',//类型
        timeout: 3000,//超时
        //请求成功
        success: function (res) {
          if (res.code === "0000") {
            //设置表单数据
            const maskUserNo = mobilePhoneMask(res.data.loginNo);
            $("#username").attr("value", maskUserNo);
            $("#nickname").attr("value", res.data.nickName);
            $("#email").attr("value", res.data.email);
            $("#remarks").html(res.data.remark);
            $("#LAY_avatarSrc").attr("value", res.data.headCopy);
            const femaleRadio = document.getElementsByName("sex")[1];
            if(res.data.sex === 'FEMALE'){
              femaleRadio.checked = true;
            }
          } else {
            layer.open({
              title: '提示信息'
              , content: '用户信息查询失败，失败原因：' + res.msg
            });
          }
        },
        //失败/超时
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          if (textStatus === 'timeout') {
            layer.msg('网络异常');
          }
          layer.msg("失败原因：" + errorThrown);
        }
      });

      //手机号掩码处理
      function mobilePhoneMask(input) {
        let output = input;
        if (input == null || input === "")return output;
        output = input.substr(0, 3) + "****" + input.substr(input.length - 4);
        return output;
      }
    };
  </script>
</body>
</html>