<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>MIX网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">文件</label>
      <div class="layui-input-inline">
        <label>
          <input type="text" name="fileName" lay-verify="required" placeholder="请上传文件" autocomplete="off" class="layui-input">
        </label>
      </div>
      <button style="float: left;" type="button" class="layui-btn" id="uploadFile">上传文件</button>
    </div>
    <!--进度条-->
    <div class="layui-form-item layui-hide" id="upload_progress">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline" style="width:21%;">
        <div class="layui-progress" lay-showpercent="true" lay-filter="upload_progress">
          <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">文件类型</label>
      <div class="layui-input-inline">
        <label>
          <input type="text" name="fileType" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </label>
      </div>
    </div>

    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
  </div>

  <script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
  <script th:src="@{/frame/layui/layui.js}"></script>
  <script th:src="@{/frame/js/uploadfile.js}"></script>
</body>
</html>