<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.properties"/>

    <!-- 管控台日志打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <!-- %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 -->
            <!-- 如需自定义关键字，用 %mdc{键名} 表示,程序中用MDC.put("键名","键值")设置，可动态设置 [%logger:%line]-->
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] %c{40} %line --%mdc{client} [%X{TRACE_LOG_ID}] %msg%n</Pattern>
        </encoder>>
    </appender>

    <!-- 系统日志打印 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger_logback_logpath}MIX.log</File>
        <encoder>
            <Pattern>[%date] [%-5level] %c{40} %line --%mdc{client} [%X{TRACE_LOG_ID}] [%X{dstTraceId}] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger_logback_logpath}MIX.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 外部jar包 日志级别设置 -->
    <logger level="info" name="com.ibatis" />
    <logger level="info" name="org.springframework"/>
    <logger level="info" name="java.sql"/>
    <logger level="info" name="org.apache"/>
    <logger level="info" name="com.alibaba.dubbo"/>
    <logger level="info" name="org.I0Itec"/>
    <logger level="info" name="org.dozer"/>

    <!-- 输出到文件，可定义更多的 Appender -->
    <root level="INFO" >
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="INFO" name="com.nicehancy.MIX">
        <appender-ref ref="logfile" />
    </root>

</configuration>