<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>MIX笔记管理表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
     style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">一级目录名</label>
        <div class="layui-input-inline">
            <input type="text" name="primaryDirectory" lay-verify="required" placeholder="请输入一级目录名" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">二级目录名</label>
        <div class="layui-input-inline">
            <input type="text" name="secondaryDirectory" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文件名</label>
        <div class="layui-input-inline">
            <input type="text" name="fileName" lay-verify="required" placeholder="请输入文件名" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择操作</label>
        <div class="layui-input-inline">
            <select name="operateType" class="layui-input">
                <option value="ADD">增加</option>
                <option value="DELETE">删除</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>
<script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/frame/layui/layui.js}"></script>
<script th:src="@{/frame/js/upload.js}"></script>
</body>
</html>