<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>MIX笔记管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

<div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <!--索引栏-->
            <label class="layui-form-label">目录索引：</label>
            <div class="layui-input-block">
                <!--一级目录-->
                <div class="layui-inline">
                    <select id="primaryDirectory" lay-filter="primaryDirectory" lay-verify="required">
                        <option value="">选择一级目录</option>
                    </select>
                </div>
                <!--二级目录-->
                <div class="layui-inline">
                    <select id="secondaryDirectory" lay-filter="secondaryDirectory">
                        <option value="">选择二级目录</option>
                    </select>
                </div>
                <!--文件名-->
                <div class="layui-inline">
                    <select id="fileName" lay-filter="fileName">
                        <option value="">选择文件</option>
                    </select>
                </div>
            </div>

            <!--操作栏-->
            <div class="layui-form-item">
                <!--一级目录-->
                <label class="layui-form-label">操作位置：</label>
                <div class="layui-input-block">
                    <div class="layui-inline">
                        <select id="opLocation" lay-verify="required">
                            <option value="">选择操作的目录或者文件</option>
                            <option value="PRIMARY_DIRECTORY_OP">一级目录</option>
                            <option value="SECONDARY_DIRECTORY_OP">二级目录</option>
                            <option value="FILE_OP">文件</option>
                        </select>
                    </div>

                    <!--操作组按钮-->
                    <div class="layui-inline">
                        <div class="layui-btn-group">
                            <button class="layui-btn" onclick="editNote()">编辑</button>
                            <button class="layui-btn" onclick="deleteNote()">删除</button>
                            <button class="layui-btn" onclick="addNote()">增加</button>
                            <!--<button class="layui-btn" onclick="moveNote()">移动</button>-->
                        </div>
                    </div>

                    <!--保存按钮-->
                    <div class="layui-inline">
                        &nbsp;<button class="layui-btn layui-btn-warm" th:id="save">保存</button>
                    </div>
                    <!--分享按钮-->
                    <div class="layui-inline">
                        <script type="text/html" id="">
                            {{# if(d.shareFlag == 'TRUE'){}}
                            <button class="layui-btn layui-btn-normal layui-btn-disabled" th:id="share">分享</button>
                            {{# }}}
                            {{# if(d.shareFlag != 'TRUE'){}}
                            <button class="layui-btn layui-btn-normal" th:id="share">分享</button>
                            {{# }}}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card-body">
        <!--富文本域-->
        <div class="my-btn-box">
            <label for="note-area"></label><textarea class="layui-form-item" id="note-area" style="display: none;">
            </textarea>
        </div>
    </div>
</div>

<script th:src="@{/frame/layui/layui.js}"></script>
<script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/frame/js/notemanage.js}"></script>
</body>
</html>
