<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>MIX笔记管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

<div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <!--一级目录-->
            <label class="layui-form-label">目录索引：</label>
            <div class="layui-input-block">
                <div class="layui-inline">
                    <select id="primaryDirectory" lay-filter="primaryDirectory" lay-verify="required">
                        <option value="">选择一级目录</option>
                    </select>
                </div>
                <!--二级目录-->
                <div class="layui-inline">
                    <select id="secondaryDirectory" lay-filter="secondaryDirectory">
                        <option value="">选择二级目录</option>
                    </select>
                </div>
                <!--文件名-->
                <div class="layui-inline">
                    <select id="fileName" lay-filter="fileName">
                        <option value="">选择文件</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card-body">
        <!--操作栏-->
        <div style="padding-bottom: 10px;">
            <div class="layui-form">
                <div class="layui-form-item">
                    <!--一级目录-->
                    <label class="layui-form-label">操作位置：</label>
                    <div class="layui-input-block">
                        <div class="layui-inline">
                            <select id="opLocation" lay-verify="required">
                                <option value="">选择操作的目录或者文件</option>
                                <option value="PRIMARY_DIRECTORY_OP">一级目录</option>
                                <option value="SECONDARY_DIRECTORY_OP">二级目录</option>
                                <option value="FILE_OP">文件</option>
                            </select>
                        </div>

                        <!--操作组按钮-->
                        <div class="layui-inline">
                            <div class="layui-btn-group">
                                <button class="layui-btn" onclick="editNote()">编辑</button>
                                <button class="layui-btn" onclick="deleteNote()">删除</button>
                                <button class="layui-btn" onclick="addNote()">增加</button>
                                <!--<button class="layui-btn" onclick="moveNote()">移动</button>-->
                            </div>
                        </div>

                        <!--文件保存按钮-->
                        <div class="layui-inline">
                            &nbsp;<button class="layui-btn layui-btn-warm" th:id="save">保存</button>

<!--                            <button class="layui-btn" th:id="manage" onclick="manageFile()">管理</button>-->
<!--                            <button class="layui-btn" th:id="delete" onclick="deleteFile()">删除</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--富文本域-->
        <div class="my-btn-box">
            <label for="note-area"></label><textarea class="layui-form-item" id="note-area" style="display: none;">
            </textarea>
        </div>
    </div>
</div>

<script th:src="@{/frame/layui/layui.js}"></script>
<script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/frame/js/notemanage.js}"></script>
<!--操作组-->
<script>

    //获取用户名
    const userNo = window.localStorage["loginNo"];
    //新增
    function addNote() {
        //获取选中的操作位置,新增位置校验
        const opLocation = document.getElementById("opLocation").value;
        if(opLocation === ''){
            layer.msg('请选择要新增的位置', {icon: 5});
            return;
        }

        //获取一级目录名
        const primaryDirectory = document.getElementById("primaryDirectory").value;

        //操作组选中
        //选中一级目录
        if(opLocation === 'PRIMARY_DIRECTORY_OP'){
            choosePromptForAdd("PRIMARY_DIRECTORY_OP");
        }
        //选中二级目录
        if(opLocation === 'SECONDARY_DIRECTORY_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择一级目录', {icon: 5});
            }else{
                choosePromptForAdd("SECONDARY_DIRECTORY_OP");
            }
        }

        //选中文件
        if(opLocation === 'FILE_OP'){
            if(primaryDirectory ===''){
                layer.msg('请至少选择一级目录', {icon: 5});
            }else{
                choosePromptForAdd("FILE_OP");
            }
        }
    }

    //修改（重命名）
    function editNote() {
        //获取选中的操作位置
        const opLocation = document.getElementById("opLocation").value;
        if(opLocation ===''){
            layer.msg('请选择要修改的位置', {icon: 5});
            return;
        }

        //获取一级目录名
        const primaryDirectory = document.getElementById("primaryDirectory").value;
        const secondaryDirectory = document.getElementById("secondaryDirectory").value;
        const fileName = document.getElementById("fileName").value;

        //操作组选中
        //选中一级目录
        if(opLocation === 'PRIMARY_DIRECTORY_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择一级目录', {icon: 5});
            }else{
                choosePromptForEdit("PRIMARY_DIRECTORY_OP");
            }
        }
        //选中二级目录
        if(opLocation === 'SECONDARY_DIRECTORY_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择所属的一级目录', {icon: 5});
            }else if(secondaryDirectory ===''){
                layer.msg('请选择要修改的二级目录', {icon: 5});
            }else{
                choosePromptForEdit("SECONDARY_DIRECTORY_OP");
            }
        }

        //选中文件
        if(opLocation === 'FILE_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择该文件所属的目录', {icon: 5});
            }else if(fileName ===''){
                layer.msg('请选择要修改的文件', {icon: 5});
            }else{
                choosePromptForEdit("FILE_OP");
            }
        }
    }

    //删除
    function deleteNote(){
        //获取选中的操作位置
        const opLocation = document.getElementById("opLocation").value;
        if(opLocation ===''){
            layer.msg('请选择要删除的位置', {icon: 5});
            return;
        }

        //获取一级目录名
        const primaryDirectory = document.getElementById("primaryDirectory").value;
        const secondaryDirectory = document.getElementById("secondaryDirectory").value;
        const fileName = document.getElementById("fileName").value;

        //操作组选中
        //选中一级目录
        if(opLocation === 'PRIMARY_DIRECTORY_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择要删除的目录', {icon: 5});
            }else{
                deleteConfirm(opLocation, primaryDirectory);
            }
        }
        //选中二级目录
        if(opLocation === 'SECONDARY_DIRECTORY_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择所在的一级目录', {icon: 5});
            }else if(secondaryDirectory ===''){
                layer.msg('请选择要删除的二级目录', {icon: 5});
            }else{
                deleteConfirm(opLocation, secondaryDirectory);
            }
        }

        //选中文件
        if(opLocation === 'FILE_OP'){
            if(primaryDirectory ===''){
                layer.msg('请选择该文件所属的目录', {icon: 5});
            }else if(fileName ===''){
                layer.msg('请选择要删除的文件', {icon: 5});
            }else{
                deleteConfirm(opLocation, fileName);
            }
        }
    }

    //公共方法
    //选择新增弹出框
    function choosePromptForAdd(opLocation) {
        if (opLocation === 'PRIMARY_DIRECTORY_OP') {
            layer.prompt({title: '创建一级目录'}, function (value, index) {
                //新增请求
                doRequest('PRIMARY_DIRECTORY_OP', 'ADD', value, index);
            });
        }
        if (opLocation === 'SECONDARY_DIRECTORY_OP') {
            layer.prompt({title: '创建二级目录'}, function (value, index) {
                //新增请求
                doRequest('SECONDARY_DIRECTORY_OP', 'ADD', value, index);
            });
        }
        if (opLocation === 'FILE_OP') {
            layer.prompt({title: '创建文件'}, function (value, index) {
                //新增请求
                doRequest('FILE_OP', 'ADD', value, index);
            });
        }
    }

    //选择修改弹出框
    function choosePromptForEdit(opLocation) {
        if (opLocation === 'PRIMARY_DIRECTORY_OP') {
            layer.prompt({title: '修改一级目录名'}, function (value, index) {
                //修改请求
                doRequest('PRIMARY_DIRECTORY_OP', 'EDIT', value, index);
            });
        }
        if (opLocation === 'SECONDARY_DIRECTORY_OP') {
            layer.prompt({title: '修改二级目录名'}, function (value, index) {
                //修改请求
                doRequest('SECONDARY_DIRECTORY_OP', 'EDIT', value, index);
            });
        }
        if (opLocation === 'FILE_OP') {
            layer.prompt({title: '修改文件名'}, function (value, index) {
                //修改请求
                doRequest('FILE_OP', 'EDIT', value, index);
            });
        }
    }

    //删除弹出框
    function deleteConfirm(opLocation, opName) {
        layer.confirm('确认要删除' + opName + '吗？', function (index) {
            doRequest(opLocation, "DELETE", "", index);
        });
    }

    //文件操作请求
    function doRequest(opLocation, opType, opName, index){
        //获取一级、二级目录名、文件名
        const primaryDirectory = document.getElementById("primaryDirectory").value;
        const secondaryDirectory = document.getElementById("secondaryDirectory").value;
        const fileName = document.getElementById("fileName").value;
        //管理请求
        $.ajax({
            url: '/note/manage',
            data: {
                "primaryDirectory": primaryDirectory,
                "secondaryDirectory": secondaryDirectory,
                "fileName": fileName,
                "opLocation": opLocation,
                "opName": opName,
                "opType": opType,
                "userNo": userNo
            },
            dataType: 'json',//数据类型
            type: 'GET',//请求方式
            timeout: 3000,//超时时间
            //请求成功
            success: function (res) {
                if (res.code === "0000") {
                    //展示主页
                    layer.msg("操作成功");
                    layui.form.render("select");
                } else {
                    layer.msg('操作失败，失败原因：'+ res.msg);
                }
            },
            //失败/超时
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (textStatus === 'timeout') {
                    layer.error('网络异常');
                    setTimeout(function () {
                        layui.alert('重新请求');
                    }, 3000);
                }
                layer.error(errorThrown);
            }
        });
        //成功关闭弹窗
        layer.close(index);
    }
</script>
</body>
</html>
