<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>MIX笔记管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

<div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <!--一级目录-->
            <label class="layui-form-label">目录索引</label>
            <div class="layui-input-block">
                <div class="layui-inline">
                    <select id="primaryDirectory" name="primaryDirectory">
                        <option value="0">一级目录</option>
                    </select>
                </div>
                <!--二级目录-->
                <div class="layui-inline">
                    <select id="secondaryDirectory" name="secondaryDirectory">
                        <option value="0">二级目录</option>
                    </select>
                </div>
                <!--文件名-->
                <div class="layui-inline">
                    <select id="fileName" name="fileName">
                        <option value="0">文件名</option>
                    </select>
                </div>
                <!--触发查询-->
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search"
                            th:onclick="search()">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="save">保存</button>
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">管理</button>
            <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
        </div>
        <!--富文本域-->
        <div class="my-btn-box">
            <label for="note-area"></label><textarea class="layui-form-item" id="note-area" style="display: none;">
            </textarea>
        </div>
    </div>
</div>
</div>

<script th:src="@{/frame/layui/layui.js}"></script>
<!--预加载-->
<script>
    //根据用户ID查询用户笔记目录树
    //缓存中获取用户ID
    window.onload=function(){
      var $ = layui.jquery;
      //请求查询
      $.ajax({
        url: '/note/notemanage/queryPrimaryDirectory',
        data:{"userNo": window.localStorage["userNo"]},
        dataType: 'json',//数据类型
        type: 'GET',//类型
        timeout: 3000,//超时
        //请求成功
        success: function (res) {
          if (res.code === "0000") {
            //拼接目录一
            layer.msg("请求成功");
          } else {
            layer.open({
              title: '提示信息'
              , content: '笔记目录查询失败，失败原因：' + res.data.msg
            });
          }
        },
        //失败/超时
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          if (textStatus === 'timeout') {
            layer.error('网络异常');
            setTimeout(function () {
              layer.msg('正在重新请求');
            }, 3000);
          }
          alert(errorThrown);
        }
      });

    };
</script>

<!--富文本域相关操作-->
<script>
    //初始化富文本域
    layui.use('layedit', function () {
        var layedit = layui.layedit;
        var $ = layui.jquery;
        //建立编辑器
        var textarea = layedit.build('note-area', {height: 480});
    });
</script>
</body>
</html>
