<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>搜索</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/template.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layadmin-caller">
      <div class="caller-contar">
        <div class="caller-item">
          <img lay-href="" src="/frame/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p lay-href="">韩旭 <em>2020-09-30 17:00:00</em></p>
            <p class="caller-adds" lay-href=""><em><strong><font size="4">论MongoDB的优势劣势</font></strong></em></p>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            点赞
          </button>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            留言
          </button>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            收藏
          </button>
        </div>
        <div class="caller-item">
          <img src="/frame/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p>小白 <em>2020-09-30 17:00:00</em></p>
            <p class="caller-adds"><em><strong><font size="4">盘点贵州都有啥好吃的</font></strong></em></p>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            点赞
          </button>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            留言
          </button>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            收藏
          </button>
        </div>
        <div class="caller-item">
          <img src="/frame/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
            <p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109</p>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            已收藏
          </button>

        </div>
        <div class="caller-item">
          <img src="/frame/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
            <p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109</p>
            <div class="caller-iconset">
              <i class="layui-icon layui-icon-login-wechat"></i>
              <i class="layui-icon layui-icon-login-qq"></i>
              <i class="layui-icon layui-icon-login-weibo"></i>
            </div>
          </div>
          <button class="layui-btn layui-btn-sm caller-fr">
            <i class="layui-icon layui-icon-ok"></i>
            已收藏
          </button>
        </div>
        <div class="caller-item">
          <img src="/frame/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
            <p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109</p>
            <div class="caller-iconset">
              <i class="layui-icon layui-icon-login-wechat"></i>
              <i class="layui-icon layui-icon-login-qq"></i>
              <i class="layui-icon layui-icon-login-weibo"></i>
            </div>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            已收藏
          </button>
        </div>
        <div class="caller-item">
          <img src="/frame/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
            <p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109</p>
            <div class="caller-iconset">
              <i class="layui-icon layui-icon-login-wechat"></i>
              <i class="layui-icon layui-icon-login-qq"></i>
              <i class="layui-icon layui-icon-login-weibo"></i>
            </div>
          </div>
          <button class="layui-btn layui-btn-sm caller-fr">
            <i class="layui-icon layui-icon-ok"></i>
            已收藏
          </button>
        </div>
        <div class="caller-item">
          <img src="../../layuiadmin/style/res/template/portrait.png" alt="" class="caller-img caller-fl">
          <div class="caller-main caller-fl">       
            <p><strong>胡歌</strong> <em>最近联系：1 小时前</em></p>
            <p class="caller-adds"><i class="layui-icon layui-icon-location"></i>浙江省广州市越秀区中山六路109</p>
            <div class="caller-iconset">
              <i class="layui-icon layui-icon-login-wechat"></i>
              <i class="layui-icon layui-icon-login-qq"></i>
              <i class="layui-icon layui-icon-login-weibo"></i>
            </div>
          </div>
          <button class="layui-btn layui-btn-sm layui-btn layui-btn-primary caller-fr">
            已收藏
          </button>
        </div>
      </div>
      <div id="demo1"></div>
    </div>
  </div>
  
  <script th:src="@{/frame/layui/layui.js}"></script>
  <script>
  layui.config({
    base: '/frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'laypage','layer'], function(){
    var laypage = layui.laypage,layer = layui.layer;
      laypage.render({
    elem: 'demo1'
    ,count: 70 //数据总数

  });
    
  });
  </script>
</body>
</html>