<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>搜索</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/template.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layadmin-caller">
      <div class="caller-contar" id="shareDocumentList">
      </div>
<!--分页      <div id="demo1"></div>-->
    </div>
  </div>
  
  <script th:src="@{/frame/layui/layui.js}"></script>
  <script>
  layui.config({
    base: '/frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'laypage','layer'], function(){
    const laypage = layui.laypage,
            layer = layui.layer,
            $ = layui.jquery;

    laypage.render({
      elem: 'demo1'
      , count: 70 //数据总数
    });

     $.ajax({
       url: '/note/queryShare',
       data: {"userNo": window.localStorage["loginNo"]},
       dataType: 'json',//数据类型
       type: 'GET',//类型
       timeout: 3000,//超时
       //请求成功
       success: function (res) {
         if (res.code === "0000") {
           //设置数据展示
           showNote(res.data);

         } else {
           layer.open({
             title: '提示信息'
             , content: '共享文档查询失败，失败原因：' + res.msg
           });
         }
       },
       //失败/超时
       error: function (XMLHttpRequest, textStatus, errorThrown) {
         if (textStatus === 'timeout') {
           layer.msg('网络异常');
         }
         layer.msg("失败原因：" + errorThrown);
       }
     });

     //共享文档列表展示
     function showNote(data){
        let show = document.getElementById("shareDocumentList");
        let html='';
        for(let i = 0;i < data.length;i++){
          html = "<div class=\"caller-item\">\n" +
                  "<img lay-href=\"\" src=/file/download?fileName=" + data[i].headCopy + " alt=\"\" class=\"caller-img caller-fl\">\n" +
                  "<div class=\"caller-main caller-fl\">       \n" +
                  "<p lay-href=\"\">"+ data[i].nickName+" <em>"+ data[i].updatedAt+"</em></p>\n" +
                  "<p class=\"caller-adds\" lay-href=\"\"><em><strong><font size=\"4\">"+ data[i].documentName +"</font></strong></em></p>\n" +
                  "</div>\n" +
                  "</div></<hr>" + html;
        }
        show.innerHTML = html;
     }
  });
  </script>
</body>
</html>