<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>邮件手动补发页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/frame/style/admin.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body" pad15>
            <div class="layui-form" lay-filter="messageType">
              <div class="layui-form-item">
                <label class="layui-form-label">补发业务</label>
                <div class="layui-input-inline">
                  <label>
                    <select name="businessType" lay-verify="">
                      <option value="">请选择业务类型</option>
                      <option value="passwordReset">密码重置</option>
                      <option value="registerMessage">用户注册</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">发件人</label>
                <div class="layui-input-inline">
                  <label>
                    <input type="text" name="sender" readonly value="MIX" class="layui-input">
                  </label>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">收件人</label>
                <div class="layui-input-inline">
                  <label>
                    <input type="text" name="recipient"  placeholder="请输入手机号或者邮箱" autocomplete="off" class="layui-input">
                  </label>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">补发原因</label>
                <div class="layui-input-block">
                  <label>
                    <textarea name="content" placeholder="请输入补发原因" class="layui-textarea"></textarea>
                  </label>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="send">发送</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/frame/layui/layui.js}"></script>
  <script>
  layui.config({
    base: '../../frame/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set']);
  </script>
  <!-- 发送-->
  <script>
    layui.define(['form', 'upload'], function () {
      const $ = layui.$
              , layer = layui.layer
              , admin = layui.admin
              , form = layui.form;

      //发送
      form.on('submit(send)', function (obj) {
        const data = obj.field;
        data.userNo = window.localStorage["loginNo"];
        alert("暂不支持补发");
        //提交修改
        admin.req({
          url: ''
          , data: data
          , success: function (res) {
            if (res.code === "0000") {
              //成功提示
              layer.msg("发送成功");
            } else {
              layer.msg("发送失败失败，失败原因：" + res.msg);
            }
          }
        });
        return false;
      });
    });
  </script>
</body>
</html>