<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>缓存管理页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/frame/layui/css/layui.css}" media="all">
</head>
<body>

<!--提示语-->
<div style="margin: 0 15px;">
  <blockquote class="layui-elem-quote">
    1、有效期的单位是秒，设置有效期时需自行转换<br>
    2、新增、清除缓存请谨慎操作，可能会影响当前其它业务<br>
    3、新增缓存时，有效期不填则系统认为永久缓存
  </blockquote>
</div>
  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">KEY值</label>
      <div class="layui-input-inline">
        <label>
          <input type="text" id="key" name="key" lay-verify="required" placeholder="请输入KEY值" autocomplete="off" class="layui-input">
        </label>
      </div>
      <div class="layui-inline">
        <button class="layui-btn layuiadmin-btn-useradmin" onclick="queryCache()" data-type="query">查询</button>
      </div>
      <div class="layui-inline">
        <button class="layui-btn layuiadmin-btn-useradmin" onclick="deleteCache()" data-type="delete">清除</button>
      </div>
      <div class="layui-inline">
        <button class="layui-btn layuiadmin-btn-useradmin" onclick="addCache()" data-type="add">添加</button>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">VALUE</label>
      <div class="layui-input-inline">
        <label>
          <input type="text" id="value" name="value" autocomplete="off" class="layui-input">
        </label>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">有效期</label>
      <div class="layui-input-inline">
        <input type="text" id="expire" name="expire" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>

  <script th:src="@{/frame/js/jquery-3.4.1.min.js}"></script>
  <script th:src="@{/frame/layui/layui.js}"></script>
  <script th:src="@{/frame/js/cache.js}"></script>
</body>
</html>